@page "/my-work"
@using System.Globalization
@using portfolio.Models
@using portfolio.Services
@inject IProjectService ProjectService

<PageTitle>My Work</PageTitle>

<link href="css/MyWork.css" rel="stylesheet" />

<div class="main-container">
    <div class="content-container">
        
        <!-- Main Content Column -->
        <div>
            <MudText Typo="Typo.h2" class="title-text">
                <b>My Work</b>
            </MudText>

            <div class="main-content">
                @if (_data?.Projects != null && _data.Projects.Any())
                {
                    var sortedProjects = _data.Projects
                        .Where(project => !string.IsNullOrWhiteSpace(project.Date?.StartDate) || 
                                          !string.IsNullOrWhiteSpace(project.Date?.EndDate)) // Exclude projects with both dates null
                        .OrderByDescending(project => project.Pinned) // Pinned projects should be first
                        .ThenByDescending(project => 
                            project.Date?.EndDate != null 
                                ? ParseDate(project.Date.EndDate) // If EndDate is present, use it first
                                : ParseDate(project.Date.StartDate)) // If EndDate is null, use StartDate
                        .ThenByDescending(project => ParseDate(project.Date?.StartDate)) // Then sort by StartDate
                        .ToList();

                    @foreach (var project in sortedProjects)
                    {
                        <MudCard class="project-card">
                            <MudGrid>
                                <MudItem xs="8">
                                    <MudCardHeader>
                                        <MudText Typo="Typo.h5" class="project-header-text">@project.Title</MudText>
                                        <MudText Typo="Typo.body1" class="project-date">
                                            @($"{project.Date?.StartDate} - {project.Date?.EndDate ?? "Current"}")
                                        </MudText>
                                    </MudCardHeader>
                                    <MudCardHeader class="project-role">
                                        <MudText Typo="Typo.h6">As @project.MyRole</MudText>
                                    </MudCardHeader>
                                    <MudCardContent class="project-content-text">
                                        <MudText Typo="Typo.body1">
                                            @project.Body?.Text
                                            @if (project.Body?.List is not null)
                                            {
                                                <br />
                                                <br />
                                                <MudText Typo="Typo.body1" class="project-date">The Project includes:</MudText>
                                                <ul class="project-features-list">
                                                    @foreach (var item in project.Body.List)
                                                    {
                                                        <li>@item.Value</li>
                                                    }
                                                </ul>
                                            }
                                        </MudText>
                                    </MudCardContent>
                                </MudItem>

                                <MudItem xs="4" class="project-image-container">
                                    <MudImage Src="@project.Image" Alt="Project Picture" class="project-image" />
                                </MudItem>
                            </MudGrid>
                        </MudCard>
                    }
                }
            </div>
        </div>
    </div>
</div>

@code {
    private DbModel? _data;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _data = await ProjectService.GetProjectsAsync();
        }
        catch (FileNotFoundException ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private DateTime ParseDate(string dateString)
    {
        if (string.IsNullOrWhiteSpace(dateString))
        {
            return DateTime.MinValue;
        }

        try
        {
            return DateTime.ParseExact(dateString, "MMM. yyyy", CultureInfo.InvariantCulture);
        }
        catch (FormatException)
        {
            return DateTime.MinValue;
        }
    }
}

@* <div style="display: flex; justify-content: center; margin-top: 1vh; width: 100%;"> *@
@*     <div style="max-width: 50vw; display: flex; flex-direction: column;"> *@
@* *@
@*         <!-- Main Content Column --> *@
@*         <div style="display: flex; flex-direction: column;"> *@
@*             <MudText Typo="Typo.h2" Style="align-self: center;"> *@
@*                 <b>My Work</b> *@
@*             </MudText> *@
@* *@
@*             <!-- Projects Section --> *@
@*             <div style="margin-top: 1.5vh;"> *@
@*                 <!-- Project 1 Card --> *@
@*                 <MudCard Style="margin-top: 1vh; padding: 1.5vh;"> *@
@*                     <MudGrid> *@
@* *@
@*                         <!-- Left Column: Text Content --> *@
@*                         <MudItem xs="8"> *@
@*                             <MudCardHeader> *@
@*                                 <MudText Typo="Typo.h5" Style="font-weight: bold;">ProjectsIncluded</MudText> *@
@*                                 <MudText Typo="Typo.body1" Style="margin-left: auto;">2024 - Current</MudText> *@
@*                             </MudCardHeader> *@
@*                             <MudCardContent> *@
@*                                 <MudText Typo="Typo.body1"> *@
@*                                     "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." *@
@*                                 </MudText> *@
@*                             </MudCardContent> *@
@*                         </MudItem> *@
@* *@
@*                         <!-- Right Column: Centered Image --> *@
@*                         <MudItem xs="4" Style="display: flex; justify-content: center; align-items: center;"> *@
@*                             <MudImage Src="images/webp/rara.webp" Alt="Project Picture" Style="height: auto; width: 300px;"/> *@
@*                         </MudItem> *@
@*                     </MudGrid> *@
@* *@
@*                     $1$ <MudCardActions> #1# *@
@*                     $1$     <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton> #1# *@
@*                     $1$ </MudCardActions> #1# *@
@*                 </MudCard> *@
@* *@
@* *@
@*                 <!-- Project 2 Card --> *@
@*                 <MudCard Style="margin-top: 1vh; padding: 1.5vh;"> *@
@*                     <MudGrid> *@
@* *@
@*                         <!-- Left Column: Text Content --> *@
@*                         <MudItem xs="8"> *@
@*                             <MudCardHeader> *@
@*                                 <MudText Typo="Typo.h5" Style="font-weight: bold;">Project 2</MudText> *@
@*                                 <MudText Typo="Typo.body1" Style="margin-left: auto;">Jan. 2024 - Sept. 2024</MudText> *@
@*                             </MudCardHeader> *@
@*                             <MudCardContent> *@
@*                                 <MudText Typo="Typo.body1"> *@
@*                                     "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." *@
@*                                 </MudText> *@
@*                             </MudCardContent> *@
@*                         </MudItem> *@
@* *@
@*                         <!-- Right Column: Centered Image --> *@
@*                         <MudItem xs="4" Style="display: flex; justify-content: center; align-items: center;"> *@
@*                             <MudImage Src="images/jpg/placeholder.jpg" Alt="Project Picture" Style="height: auto; width: 300px;"/> *@
@*                         </MudItem> *@
@*                     </MudGrid> *@
@* *@
@*                     $1$ <MudCardActions> #1# *@
@*                     $1$     <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton> #1# *@
@*                     $1$ </MudCardActions> #1# *@
@*                 </MudCard> *@
@* *@
@*                 <!-- Project 3 Card --> *@
@*                 <MudCard Style="margin-top: 1vh; padding: 1.5vh;"> *@
@*                     <MudGrid> *@
@* *@
@*                         <!-- Left Column: Text Content --> *@
@*                         <MudItem xs="8"> *@
@*                             <MudCardHeader> *@
@*                                 <MudText Typo="Typo.h5" Style="font-weight: bold;">Project 2</MudText> *@
@*                                 <MudText Typo="Typo.body1" Style="margin-left: auto;">Jan. 2024 - Sept. 2024</MudText> *@
@*                             </MudCardHeader> *@
@*                             <MudCardContent> *@
@*                                 <MudText Typo="Typo.body1"> *@
@*                                     "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. *@
@* *@
@*                                     <ul style="list-style: disc; margin-left: 1vw;"> *@
@*                                         <li>One</li> *@
@*                                         <li>Two</li> *@
@*                                         <li>Three</li> *@
@*                                     </ul> *@
@*                                 </MudText> *@
@*                             </MudCardContent> *@
@*                         </MudItem> *@
@* *@
@*                         <!-- Right Column: Centered Image --> *@
@*                         <MudItem xs="4" Style="display: flex; justify-content: center; align-items: center;"> *@
@*                             <MudImage Src="images/jpg/placeholder.jpg" Alt="Project Picture" Style="height: auto; width: 300px;"/> *@
@*                         </MudItem> *@
@*                     </MudGrid> *@
@* *@
@*                     $1$ <MudCardActions> #1# *@
@*                     $1$     <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton> #1# *@
@*                     $1$ </MudCardActions> #1# *@
@*                 </MudCard> *@
@*                 <!-- Additional project cards can be added here --> *@
@* *@
@*             </div> *@
@*         </div> *@
@* </div> *@
@* </div> *@